.playing button{

  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 121px;
  padding: 4px;
  height: fit-content;
}

.playing span{
  font-size: 18px;
}

.board-controls-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.control-button{
  width: 85%;
}