.tile{
    border-radius: 8px; 
    border: 4px solid #417A80;
    min-height: 10vh;
    min-width: 10vh;
    font-size:63px;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.tile[state="0"]{
    background-color: #d8ebf2;
}
.tile[state="-1"],.tile[state="-2"]{
    color: #001319;
    background-color: #d8ebf2;
}
.tile[state="1"]{
    background-color:#001319
}
