.boardButtBox{
	display: flex;
	flex-direction: column;
  gap: 15px;
}

.newBoardInputs{
	display: flex;
}
input[name="input_board_size"]{
	text-align: center;
	width: 3em;
	min-height: var(--min-height-vh);
	margin-right: 10px;

	background-color:#f3fcff64;
	border-radius: 8px; 
	border: 0px solid var(--color-accent-1);
	font-size: 28px;
}

.difficultyButts{
	display: flex;
	justify-content: space-between;
}

input[type="radio"]{
  display: none;
}

label {
  display: inline-block;
  position:relative;
  /* padding: 5px 10px; */
  cursor: pointer;

  min-height: var(--min-height-vh);
  min-width: var(--min-height-vh);
}

label span {
  position: absolute;
  top: 0px;
  left: 0px;
}

label div#text{
  position: absolute;
  top: 13px;
  left: 14px;
}


label span:before,
label span:after {
  content: '';
}

label span:before, .unlockDifficulty {
  position: absolute;
  border-radius: var(--border-radius);
  height: var(--min-height-vh);
  min-width: var(--min-height-vh);
  border: 0 solid var(--color-accent-1);
  background-color: var(--color-accent-1);
  font-size: calc(var(--font-size-base)-1);
  display: inline-block;
  vertical-align: top;
}

.unlockDifficulty{

  display: inline-block;
  position: relative;
}

label span:after {
  position: absolute;
  display: inline-block;
  border-radius: var(--border-radius);
  height: var(--min-height-vh);
  min-width: var(--min-height-vh);
  border: 0 solid var(--color-light-bg);
  background-color: var(--color-light-bg);
  font-size: var(--font-size-base);
  transition: 300ms;
  opacity: 0;
}

label input:checked+span:after {
  opacity: 1;
}input[type="radio"]{
  display: none;
}

label {
  display: inline-block;
  position:relative;
  /* padding: 5px 10px; */
  cursor: pointer;

  min-height: var(--min-height-vh);
  min-width: var(--min-height-vh);
}

label span {
  position: absolute;
  top: 0px;
  left: 0px;
}

label div#text{
  position: absolute;
  top: 13px;
  left: 14px;
}


label span:before,
label span:after {
  content: '';
}

label span:before, .unlockDifficulty {
  position: absolute;
  border-radius: var(--border-radius);
  height: var(--min-height-vh);
  min-width: var(--min-height-vh);
  border: 0 solid var(--color-accent-1);
  background-color: var(--color-accent-1);
  font-size: calc(var(--font-size-base)-1);
  display: inline-block;
  vertical-align: top;
}

.unlockDifficulty{

  display: inline-block;
  position: relative;
}

label span:after {
  position: absolute;
  display: inline-block;
  border-radius: var(--border-radius);
  height: var(--min-height-vh);
  min-width: var(--min-height-vh);
  border: 0 solid var(--color-light-bg);
  background-color: var(--color-light-bg);
  font-size: var(--font-size-base);
  transition: 300ms;
  opacity: 0;
}

label input:checked+span:after {
  opacity: 1;
}