.GameInterface {
  display: flex;
  justify-content: center;
  width: min-content;

  background-color: var(--color-dark-bg-2);
  border: var(--spacing-small) solid var(--color-accent-3);
  border-radius: 30px;

	padding: 30px;
}

.SidePannel{
	display: flex;
	flex-direction: column;
  align-items: center;
}

