.App {
  color: whitesmoke;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}
.App-header h1{
  margin: 10px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.GameInterface{
  display: flex;
  justify-content: center;
	width: min-content;
  background-color: #001319;
  border: 20px solid #001319;
  /* border-width: 10px 25px; */
  border-radius: 8px;
}

i[hidden=""]{
  visibility: hidden;
}

.gameBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
