:root {
  /* Colors */
  --color-dark-bg: #282c34;
  --color-dark-bg-2: #001319;
  --color-accent-1: #19424e;
  --color-accent-2: #417A80;
  --color-light-bg: #d8ebf2;

  /* Font Sizes */
  --font-size-base: 28px;
  --font-size-large: 63px;
  --font-size-small: calc(10px + 2vmin);

  /* Spacing and Dimensions */
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --border-radius: 8px;
  --min-height-vh: 5vh;
  --min-width-vh: 10vh;
  --height-vmin: 40vmin;

  /* Animations */
  --animation-duration: 1.3s;
  --animation-iteration-count: 4;
  --animation-delay: 0s;
}

/* Now using variables in the rest of the CSS */

.App {
  color: var(--color-light-bg);
  background-color: var(--color-dark-bg);
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: var(--height-vmin);
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: var(--font-size-small);
}

.App-header h1 {
  margin: var(--spacing-small) 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.GameInterface {
  display: flex;
  justify-content: center;
  width: min-content;
  background-color: var(--color-dark-bg-2);
  border: var(--spacing-large) solid var(--color-dark-bg-2);
  border-radius: var(--border-radius);
}

i[hidden=""] {
  visibility: hidden;
}

.gameBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  border-radius: var(--border-radius);
  min-height: var(--min-height-vh);
  min-width: var(--min-width-vh);
  border: 0 solid var(--color-accent-1);
  background-color: var(--color-accent-1);
  font-size: var(--font-size-base);
  color: var(--color-light-bg);
}

input[type="radio"]{
  display: none;
}

label {
  display: inline-block;
  position:relative;
  /* padding: 5px 10px; */
  cursor: pointer;
}

label span {
  position: absolute;
  top: 0px;
  left: 0px;
}

label div#text{
  position: absolute;
  top: 13px;
  left: 14px;
}


label span:before,
label span:after {
  content: '';
}

label span:before {
  position: absolute;
  border-radius: var(--border-radius);
  min-height: var(--min-height-vh);
  min-width: var(--min-height-vh);
  border: 0 solid var(--color-accent-1);
  background-color: var(--color-accent-1);
  font-size: var(--font-size-base);
  display: inline-block;
  vertical-align: top;
}

label span:after {
  position: absolute;
  display: inline-block;
  border-radius: var(--border-radius);
  min-height: var(--min-height-vh);
  min-width: var(--min-height-vh);
  border: 0 solid var(--color-light-bg);
  background-color: var(--color-light-bg);
  font-size: var(--font-size-base);
  transition: 300ms;
  opacity: 0;
}

label input:checked+span:after {
  opacity: 1;
}